<form class="form-inline">
    <ul class="navbar-nav mt-2">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="rounded-circle" width="40" height="40" src="assets/img/avatar.png" alt="uzytkownik">
          <button type="button" class="btn btn-danger ml-1">user@mail.pl</button>>
        </a>
        <div class="dropdown-menu" aria-labelledby="userMenu">
          <a class="dropdown-item"href="#">Konto</a>
          <a class="dropdown-item" href="#">Ustawienia</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Wyloguj</a>
        </div>
      </li>
    </ul>
  </form> 