<div class="input-group pt-2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary rounded" type="button">Znajdz</button>
    </div>
    <input type="text" class="form-control" placeholder="Szukaj wiadomosci" aria-label="Szukaj wiadomosci" aria-describedby="basic-addon2">
  </div>

  <ul class="nav nav-pills mt-1 mb-1">
    <li class="nav-item bg-warning rounded-0 mr-1 mt-1">
      <a class="nav-link text-white" href="#">Nowa</a>
    </li>
    <li class="nav-item bg-info rounded-0 mr-1 mt-1">
      <a class="nav-link text-white" href="#">Odpowiedz</a>
    </li>
    <li class="nav-item bg-info rounded-0 mr-1 mt-1">
      <a class="nav-link text-white" href="#">Usun</a>
    </li>              
    <li class="nav-item bg-info rounded-0 mr-1 mt-1">
      <a class="nav-link text-white" href="#">Zaznacz</a>
    </li>
    <li class="nav-item-dropdown bg-info rounded-0 mr-1 mt-1">
      <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Przenies do</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Zapisane</a>    
          <a class="dropdown-item" href="#">Robocze</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Kosz</a>
        </div>
    </li>
    <li class="nav-item bg-info rounded-0 mr-1 mt-1">
      <a class="nav-link text-white" href="#">Zglos SPAM</a>
    </li>
    <li class="nav-item bg-info rounded-0 mr-1 mt-1">
      <a class="nav-link text-white" href="#">Archiwizuj</a>
    </li>
  </ul>
