<header>
  <nav class="navbar navbar-dark bg-primary navbar-expand-md ">
    <app-logo></app-logo>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headmenu" aria-controls="mainmenu" aria-expanded="false"
      aria-labe="Zmiana widoku nawigacji">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse offset-1 mt-5" id="headmenu">
        <app-nav class="mr-auto"></app-nav>
        <app-user></app-user>
    </div>
  </nav>
</header>