<div class="top_aside ">
  <div class="btn-group">
    <button class="btn btn-secondary btn-sm mt-2" type="button" >KONTO</button>
    <button class="btn btn-danger btn-sm mt-2 rounded" type="button" >Wyloguj</button>
 </div>
 
  <div class="progress mt-5">
    <div class="progress-bar progress-bar-striped bg-warning text-dark" role="progressbar" style="width: 40%" aria-valuenow="40" 
    aria-valuemin="0" aria-valuemax="100">Zajete 40% </div> 
  </div>

  <button type="button" class="btn btn-outline-danger d-flex mt-5">Napisz...</button>
</div>