<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Temat: Temat pierwszego maila</h5><br>
        <small>3 days ago</small>
      </div>
      <h6 class="mb-1">Autor: Jan Kowalski</h6>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Temat: Temat drugiego maila</h5><br>
        <small>4 days ago</small>
      </div>
      <h6 class="mb-1">Autor: Jan Kowalski</h6>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Temat: Temat trzeciego maila</h5><br>
        <small>4 days ago</small>
      </div>
      <h6 class="mb-1">Autor: Jan Kowalski</h6>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Temat: Temat czwartego maila</h5><br>
        <small>5 days ago</small>
      </div>
      <h6 class="mb-1">Autor: Jan Kowalski</h6>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Temat: Temat kolejnego maila</h5><br>
        <small>6 days ago</small>
      </div>
      <h6 class="mb-1">Autor: Jan Kowalski</h6>
     </a>
     <a href="#" class="list-group-item list-group-item-action flex-column align-items-start ">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Temat: Temat kolejnego maila</h5><br>
        <small>7 days ago</small>
      </div>
      <h6 class="mb-1">Autor: Jan Kowalski</h6>
     </a>
  </div>
  